body {
  font-family: "Poppins";
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 158, 94) 0%,
    rgb(254, 94, 114) 94.3%
  );
  line-height: 1.5;
}
section.primary {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/109/622/original/Monument.jpg?1704651518");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
  border-radius: 8px;
}
h1 {
  font-weight: bold;
  font-size: 64px;
}
h2 {
  font-family: "Anonymous Pro, monospace";
  font-size: 34px;
  font-weight: lighter;
}
h3 {
  text-align: center;
}
.card {
  text-align: center;
  background: #5f6769;
  color: white;
}
.third {
  background: #5f6769;
  color: white;
}
.btn {
  position: relative;
  left: 265px;
}

.third a {
  border-radius: 5px;
  color: #5f6769;
  text-decoration: none;
  text-align: center;
  padding: 16px 32px;
  opacity: 0.7;
  justify-content: space-evenly;
}
.textWrapper {
  display: flex;
  justify-items: center;
}
footer {
  text-align: center;
}
footer span {
  color: #eb4a5f;
  font-weight: bolder;
}
footer a {
  text-decoration: none;
}
